﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyFirstView</title>

</head>
<body>
    
    <div>
        @*  Shows the current time on front page*@
        The current time is: @DateTime.Now
        <br />

        @* Display the link to another page (supervisor-page*@
                <a asp-action="SupervisorInfo">

                    Click here to see the info on supervisors. <br />

                </a>
            </div>
        </body>
        </html>
