﻿
@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SupervisorInfo</title>
</head>



@model List<PGM_online.Models.Supervisor>
<body>
    <div>

        <ul>
            @* Just a simple foreach-loop to display all the names of the supervisors*@
            We have many supervisors:
            <br />

            @foreach (var item in Model)
            {
                @item.Name
                <br />

            }
        </ul>



    </div>
</body>
</html>
